<?xml version='1.0' encoding='utf-8' ?>
<config>
	<sys>
		<name>sys</name>
		<cip4>0</cip4>
		<cip3>7F</cip3>
		<cip2>0</cip2>
		<cip1>0</cip1>
		<cip0>1</cip0>
		<id>2</id>
		<mip4>C0</mip4>
		<mip3>A8</mip3>
		<mip2>0</mip2>
		<mip1>A</mip1>
		<mip0>5DE</mip0>
		<mac5>FF</mac5>
		<mac4>EE</mac4>
		<mac3>DD</mac3>
		<mac2>CC</mac2>
		<mac1>BB</mac1>
		<mac0>AA</mac0>
		<nameno>2</nameno>
		<os>464</os>
		<ver>464</ver>
		<ft2>7DE</ft2>
		<ft1>B</ft1>
		<ft0>18</ft0>
		<model3>44</model3>
		<model2>4C</model2>
		<model1>50</model1>
		<model0>123</model0>
		<SN0>44c</SN0>
		<SN1>b</SN1>
		<P809>45</P809>
		<P810>44</P810>
		<P815>2f</P815>
		<P816>2e</P816>
		<P817>1b</P817>
		<P818>41</P818>
		<P826>3d</P826>
	</sys>
	<focusmotor>
		<name>focusmotor</name>
		<pwmpin>342</pwmpin>
		<pwmvalue>0</pwmvalue>
		<period1>3B9A</period1>
		<period0>CA00</period0>
		<duty1>1DCD</duty1>
		<duty0>6500</duty0>
		<polarity>1</polarity>
		<run>0</run>
		<max>0</max>
		<min>0</min>
		<acc>0</acc>
		<subdivision>0</subdivision>
		<gear1>38</gear1>
		<gear0>1</gear0>
		<curve>0</curve>
		<rotation>0</rotation>
		<type>4</type>
		<model>4</model>
		<dirpin>9</dirpin>
		<dirvalue>0</dirvalue>
	</focusmotor>
	<focussensor>
		<name>focussensor</name>
		<id>1</id>
		<type>1</type>
		<mode>1</mode>
		<baud1>0</baud1>
		<baud0>4B00</baud0>
		<databit>8</databit>
		<stopbit>0</stopbit>
		<flowbit>0</flowbit>
		<paritybit>0</paritybit>
		<origin1>0</origin1>
		<origin0>0</origin0>
		<gear1>63</gear1>
		<gear0>11</gear0>
		<bits>10</bits>
	</focussensor>
	<zoommotor>
		<name>zoommotor</name>
		<pwmpin>344</pwmpin>
		<pwmvalue>0</pwmvalue>
		<period1>3B9A</period1>
		<period0>CA00</period0>
		<duty1>1DCD</duty1>
		<duty0>6500</duty0>
		<polarity>1</polarity>
		<run>0</run>
		<max>0</max>
		<min>0</min>
		<acc>0</acc>
		<subdivision>0</subdivision>
		<gear1>1</gear1>
		<gear0>1</gear0>
		<curve>0</curve>
		<rotation>0</rotation>
		<type>3</type>
		<model>3</model>
		<dirpin>8</dirpin>
		<dirvalue>0</dirvalue>
	</zoommotor>
	<zoomsensor>
		<name>zoomsensor</name>
		<id>2</id>
		<type>2</type>
		<mode>2</mode>
		<baud1>0</baud1>
		<baud0>4B00</baud0>
		<type>2</type>
		<mode>2</mode>
		<databit>8</databit>
		<stopbit>0</stopbit>
		<flowbit>0</flowbit>
		<paritybit>0</paritybit>
		<gear1>1</gear1>
		<gear0>1</gear0>
		<bits>10</bits>
	</zoomsensor>
	<panmotor>
		<name>0</name>
		<pwmpin>32C</pwmpin>
		<pwmvalue>0</pwmvalue>
		<origin1>0</origin1>
		<origin0>0</origin0>
		<max>2E4</max>
		<min>8C</min>
		<acc>12c</acc>
		<subdivision>7</subdivision>
		<gear1>38</gear1>
		<gear0>1</gear0>
		<curve>2</curve>
		<rotation>0</rotation>
		<type>1</type>
		<model>1</model>
		<dirvalue>2</dirvalue>
		<dirpin>1A</dirpin>
		<dirvalue>0</dirvalue>
	</panmotor>
	<pansensor>
		<name>pansensor</name>
		<id>21</id>
		<type>2</type>
		<mode>22</mode>
		<baud1>F</baud1>
		<baud0>4240</baud0>
		<origin1>0</origin1>
		<origin0>0</origin0>
		<gear1>63</gear1>
		<gear0>11</gear0>
		<bits>E</bits>
	</pansensor>
	<panorigin>
		<name>panorigin</name>
		<pin>17</pin>
	</panorigin>
	<tiltmotor>
		<name>1</name>
		<pwmpin>34E</pwmpin>
		<pwmvalue>0</pwmvalue>
		<origin1>0</origin1>
		<origin0>0</origin0>
		<max>c</max>
		<min>2</min>
		<acc>12c</acc>
		<subdivision>7</subdivision>
		<gear1>26</gear1>
		<gear0>E</gear0>
		<curve>0</curve>
		<rotation>0</rotation>
		<type>2</type>
		<model>2</model>
		<direction>1</direction>
		<dirpin>49</dirpin>
		<dirvalue>0</dirvalue>
	</tiltmotor>
	<tiltsensor>
		<name>tiltsensor</name>
		<id>20</id>
		<type>2</type>
		<mode>23</mode>
		<baud1>F</baud1>
		<baud0>4240</baud0>
		<origin1>0</origin1>
		<origin0>0</origin0>
		<gear1>30</gear1>
		<gear0>a</gear0>
		<bits>E</bits>
	</tiltsensor>
	<tiltorigin>
		<name>tiltorigin</name>
		<pin>2F</pin>
	</tiltorigin>
</config>

